<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toggl : The First Webpage</title>
    <link href="header.css" rel="stylesheet">
    <script src="header.js" defer></script>
    <link href="main.css" rel="stylesheet">
    <script src="main.js" defer></script>
    <link href="footer.css" rel="stylesheet">
    <script src="footer.js" defer></script>
    <link href="media.css" rel="stylesheet">
</head>

<body>
    <header>
        <header-left>
            <img id="toggl-logo" src="\images\download-toggl-logo\download-toggl-logo\Toggl - Yellow.png"
                class="header-items">
            <span id="products" class="header-items">Products</span>
            <span id="blog" class="header-items">Blog</span>
            <span id=our-mission class="header-items">Our Mission</span>
            <span id="working-at-toggl" class="header-items">Working At Toggl</span>
            <span id="we-re-hiring" class="header-items">We're Hiring</span>
        </header-left>
        <header-right>
            <a href="/log-in" id="log-in" class="header-items">Log In</a>
            <a href="/sign-up" id="try-toggl" class="header-items">Try Toggl</a>
            <%if(user){%>
            <div>Hello</div>
            <%}else{}%>
        </header-right>
    </header>








    <main>
        <main-first-bar>
            <main-left-bar>
                <main-left-first-bar>
                    Time Tracking That's Easy, Powerful and Frictionless.
                </main-left-first-bar>
                <main-left-second-bar>
                    Time Tracking That's Easy, Powerful and Frictionless.Time Tracking That's Easy, Powerful and
                    Frictionless.Time Tracking That's Easy, Powerful and Frictionless.Time Tracking That's Easy,
                    Powerful and Frictionless.
                    Time Tracking That's Easy, Powerful and Frictionless.Time Tracking That's Easy, Powerful and
                    Frictionless.Time Tracking That's Easy, Powerful and Frictionless.Time Tracking That's Easy,
                    Powerful and Frictionless.
                </main-left-second-bar>
                <main-left-third-bar>
                    <a  href="/sign-up" id="start-tracking">Start Tracking For Free</a>
                </main-left-third-bar>
            </main-left-bar>
            <main-right-bar>
                <img id="toggl-track-img"
                    src="\images\download-toggl-track-product\download-toggl-track-product\Desktop App\Timeline - Mac.png">
            </main-right-bar>
        </main-first-bar>
        <main-second-bar>

            <main-second-first-bar>Trusted By Over 5 Million Users Across 120 Countries

            </main-second-first-bar>

            <main-second-second-bar>

            </main-second-second-bar>

        </main-second-bar>
    </main>







    <footer>
        <footer-start>
            <img id="toggl-logo-footer" src="\images\download-toggl-logo\download-toggl-logo\Toggl - Yellow.png"></img>
        </footer-start>
        <footer-middle>

            <div id="toggl-global" class="footer-items">
                <span id="footer-global">Toggl Global</span>
                <span id="footer-blog" class="global-items">Blog</span>
                <span id="footer-our-mission" class="global-items">Our Mission</span>
                <span id="footer-working-at-toggl" class="global-items">Working At Toggl</span>
                <span id="footer-legal-docs" class="global-items">Legal Docs</span>
            </div>

            <div id="toggl-track" class="footer-items">
                <span id="footer-global">Toggl Track</span>
                <span id="footer-blog" class="global-items">Blog</span>
                <span id="footer-our-mission" class="global-items">Our Mission</span>
                <span id="footer-working-at-toggl" class="global-items">Working At Toggl</span>
                <span id="footer-legal-docs" class="global-items">Legal Docs</span>
            </div>

            <div id="toggl-plan" class="footer-items">
                <span id="footer-global">Toggl Plan</span>
                <span id="footer-blog" class="global-items">Blog</span>
                <span id="footer-our-mission" class="global-items">Our Mission</span>
                <span id="footer-working-at-toggl" class="global-items">Working At Toggl</span>
                <span id="footer-legal-docs" class="global-items">Legal Docs</span>
                <span id="footer-our-mission" class="global-items">Our Mission</span>
                <span id="footer-working-at-toggl" class="global-items">Working At Toggl</span>
                <span id="footer-legal-docs" class="global-items">Legal Docs</span>
            </div>

            <div id="toggl-hire" class="footer-items">
                <span id="footer-global">Toggl Hire</span>
                <span id="footer-blog" class="global-items">Blog</span>
                <span id="footer-our-mission" class="global-items">Our Mission</span>
                <span id="footer-working-at-toggl" class="global-items">Working At Toggl</span>
                <span id="footer-legal-docs" class="global-items">Legal Docs</span>
            </div>

            <div id="resources" class="footer-items">
                <span id="footer-global">Resources</span>
                <span id="footer-blog" class="global-items">Blog</span>
                <span id="footer-our-mission" class="global-items">Our Mission</span>
                <span id="footer-working-at-toggl" class="global-items">Working At Toggl</span>
                <span id="footer-legal-docs" class="global-items">Legal Docs</span>
                <span id="footer-our-mission" class="global-items">Our Mission</span>
                <span id="footer-working-at-toggl" class="global-items">Working At Toggl</span>
                <span id="footer-legal-docs" class="global-items">Legal Docs</span>
            </div>

        </footer-middle>

        <footer-end>

            <footer-end-discover>
                Discover Tools
            </footer-end-discover>

            <footer-end-toggle-track>
                <img id="toggle-track-logo"
                    src="\images\download-toggl-track-logo-horizontal\toggl-track_logotype_horizontal_pink.png">
            </footer-end-toggle-track>


            <footer-end-toggle-plan>
                <img id="toggle-track-logo"
                    src="\images\download-toggl-track-logo-horizontal\toggl-track_logotype_horizontal_peach.png">
            </footer-end-toggle-plan>


            <footer-end-toggle-hire>
                <img id="toggle-track-logo"
                    src="\images\download-toggl-track-logo-horizontal\toggl-track_logotype_horizontal_pink.png">
            </footer-end-toggle-hire>
        </footer-end>
    </footer>
</body>

</html>